$header-color: #525564;
$footer-color: #525564;
$subheader-color: #4169E1;
$logo-color: #c25b56;
$background-color: #8b8a85;
$button-color: #beb9b5;
$contentbox-color: #96c0ce;
$shadow-color:  #282828;
$border-color: #282828;
$footercopyright-color: #282828;
$h1-text-color: #F9F9F9;
$text-color: #F9F9F9;
$text-hover-color: #F9F9F9;
$board-color: #F0F8FF;

//$default-text-color: black !default;
